div.title, h2.title {
    font-size: 16;
    font-family: { Arial, Helvetica, sans-serif; }
    font-weight: Bold;
    border-bottom-style: groove;
    padding-bottom: 12px;
}

h2.subtitle {
    font-size: 16;
    font-family: { Arial, Helvetica, sans-serif; }
}

p.title, h3 {
    font-size: 14;
    font-family: { Arial, Helvetica, sans-serif; }
    font-weight: Bold;
}

div.chapter, div.glossary, div.section { 
    border-bottom-style: groove;
    margin-bottom: 12px;
}

div.footer { 
    font-size: 9;
    font-family: { Arial, Helvetica, sans-serif; }
}

div.itemizedlist {
    font-size: 12;
    font-family: { Arial, Helvetica, sans-serif; }
}

a, dd, dt, p.normal, span.productname {
    font-size: 12;
    font-family: { Arial, Helvetica, sans-serif; }
}

a.small, p.small {
    font-size: 11;
    font-family: { Arial, Helvetica, sans-serif; }
}
